# Database - Supabase
# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

SUPABASE_ACCESS_TOKEN=
SUPABASE_URL=

# Server
PORT=3000
HOST=localhost
NODE_ENV=development

# JWT
JWT_SECRET=

# Database Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=